div, input, li{
	box-sizing: border-box;
	outline: none;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

.search-wrap{
	position: relative;
	width: 536px;
	height: 40px;
	margin: 200px auto;	
}

.search-wrap .search-input{
	width: 100%;
	height: 40px;
	border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
    font-size: 18px;
}

.search-wrap .search-input:hover{
	border: 1px solid #999;
}

.search-wrap .search-input:focus{
	border: 1px solid #38f;
}

.search-wrap .list-wrap{
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	border: 1px solid #ccc;
	background-color: #fff;
}

.search-wrap .list-wrap .wd-item{
	height: 25px;
	padding-left: 10px;
	line-height: 25px;
}

.search-wrap .list-wrap .wd-item:hover{
	background-color: #efefef;
}

.search-wrap .list-wrap .wd-lk{
	font-weight: bold;
	color: #000;
	font-size: 14px;
}

.search-wrap .list-wrap .wd-lk .font-normal{
	font-weight: normal;
}









