body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* 分组选择器要使用竖排排列 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: bold;
}

div {
    box-sizing: border-box;
}

button,
input {
    outline: none;
    box-sizing: border-box;
    border: none;
}