html{
	background-color: #F4F4F4;
}

body{
	margin: 0;
}

div,
section,
textarea{
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong{
	font-weight: normal;
	margin: 0;
}

a{
	text-decoration: none;
}

textarea,
button{
	border: none;
	outline: none;
	resize: none;
}

.comment-edit-bd{
    display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.comment-edit-bd .mask{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.comment-edit-bd .comment-wrap{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -357.5px;
	margin-top: -229px;
	padding: 0 20px;
	border-top: 4px solid #23b8ff;
	width: 715px;
	height: 458px;
	background-color: #fff;
}

.comment-edit-bd .hd{
	height: 20px;
	margin-top: 10px;
	line-height: 20px;
	font-size: 14px;
	color: rgb(153, 153, 153);
}

.comment-edit-bd .fa-times{
	position: absolute;
	right: 16px;
	top: 10px;
	color: #999;
	font-size: 20px;
}

.comment-edit-bd .fa-times:hover{
	color: rgb(35, 184, 255);
}

.comment-edit-bd .tt{
	height: 24px;
	margin-top: 25px;
	line-height: 24px;
	text-align: center;
	color: #000;
	font-size: 18px;
}

.comment-edit-bd .comment-star{
	height: 25px;
	margin: 35px 0 0 100px;
	line-height: 25px;
	cursor: pointer;
}

.comment-edit-bd .comment-star .fa-star{
	font-size: 25px;
	margin-right: 24px;
	color: #cdcdcd;
}

.comment-edit-bd .comment-star .fa-star.active{
	color: #F4B43F;
}

.comment-edit-bd .comment-star .star-label{
	vertical-align: 3px;
	font-size: 14px;
	color: rgb(153, 153, 153);
}

.comment-edit-bd .edit-txt-bd{
	width: 534px;
	height: 129px;
	margin: 50px auto 0;
	border: 1px solid #cdcdcd;
}

.comment-edit-bd .edit-txt-bd .txt-tip{
	height: 20px;
	padding-right: 10px;
	line-height: 4px;
	color: #424242;
	text-align: right;
	font-size: 14px;
}

.comment-edit-bd .edit-txt{
	width: 100%;
	height: 109px;
	padding: 10px 12px 0;
	color: rgb(51, 51, 51);
	font-size: 14px;
}

.comment-edit-bd .comment-desc{
	width: 534px;
	height: 16px;
	margin: 7px auto 0;
	line-height: 16px;
	font-size: 12px;
	text-align: right;
	color: rgb(153, 153, 153)
}

.comment-btn{
	float: right;
	width: 120px;
	height: 44px;
	background-color: rgb(35, 184, 255);
	border-radius: 3px;
	color: rgb(255, 255, 255);
	font-size: 16px;
}

.comment-btn.submit{
	margin: 22px 71px;
}

.comment-btn.disabled{
	background-color: #ABDBFC;
}

.comment-bd{
	position: relative;
	width: 860px;
	min-height: 532px;
	margin: 100px auto;
	padding: 0 20px 20px;
	background-color: #fff;
}

.comment-bd .hd{
	height: 84px;
	padding: 20px 0;
}

.comment-bd .score-bd{
	height: 61px;
	padding: 10px 0;
	background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
}

.comment-bd .score-bd .comment-statistics{
    float: left;
	width: 125px;
	height: 41px;
	border-right: 1px solid #e5e5e5;
	text-align: center;
	line-height: 22px;
}

.comment-bd .score-bd .statistics-num{
	display: block;
	color: #e85308;
    font-size: 32px;   
}

.comment-bd .score-bd .comment-statistics p{
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}

.comment-bd .score-bd .radio-tabs{
	float: left;
    height: 21px;
    margin-top: 9px;
}

.comment-bd .score-bd .tab-radio{
	display: inline-block;
    height: 21px;
    margin-left: 30px;
    cursor: pointer;
}

.comment-bd .score-bd .tab-radio .radio-icon{
	position: relative;
	display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
    box-sizing: border-box;
    vertical-align: -3.5px;
}

.comment-bd .score-bd .tab-radio .radio-icon:hover{
	border-color: rgb(35, 184, 255);
}

.comment-bd .score-bd .tab-radio.cur .radio-icon:before{
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	background-color: rgb(35, 184, 255);
	border-radius: 50%;
}

.comment-bd .score-bd .tab-radio .radio-txt{
	color: #333;
	font-size: 14px;
}

.comment-bd .comment-wrap{
	margin-top: -1px;
}

.comment-bd .comment-item{
	position: relative;
    width: 820px;
    padding: 20px 20px 20px 80px;
    border-top: 1px solid #ddd;
}

.comment-bd .comment-item .item-left{
	position: absolute;
	top: 20px;
	left: 0;
	width: 80px;
	text-align: center;
}

.comment-bd .comment-item .item-left .user-avatar{
	border-radius: 50%;
	vertical-align: middle;
}

.comment-bd .comment-item .item-left .user-name{
	text-align: center;
	font-size: 14px;
	color: #333;
}

.comment-bd .comment-item .item-right .fa-star{
    font-size: 18px;
    margin-right: 5px;
    color: #cdcdcd;
}

.comment-bd .comment-item .item-right .fa-star.active{
	color: #F4B43F;
}

.comment-bd .comment-item .item-right .comment-content{
	margin-bottom: 10px;
	line-height: 21px;
	font-size: 16px;
	color: #333;
	word-wrap: break-word;
}

.comment-bd .comment-item .item-right .comment-uptime{
	line-height: 21px;
	font-size: 16px;
	color: #999;
}

.comment-bd .comment-item .add-comment-item{
	height: 73px;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px dashed #e5e5e5;
	font-size: 16px;
	color: #333;
}

.comment-bd .comment-item .add-comment-item .comment-content{
	margin-bottom: 10px;
}

.comment-bd .comment-item .add-comment-item .comment-uptime{
	color: #999;
} 

.comment-bd .comment-msg{
	height: 36px;
    margin: 170px 0;
    text-align: center;
}

.comment-bd .comment-msg .fa-warning{
	color: #D86E3F;
	font-size: 24px;
}

.comment-bd .comment-msg .msg-txt{
	display: inline;
	font-size: 18px;
	color: #999;
	vertical-align: 3px;
	margin-left: 8px;
}

.comment-loading{
	display: none;
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	color: #666;
}

.page-btn-wrap{
    height: 40px;
    font-size: 0;
}

.page-btn-wrap .page-btn-box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-btn-wrap .page-btn{
	display: inline-block;
	width: 64px;
	height: 38px;
	margin: 0 3px;
	border: 1px solid #dadada;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	color: #333;
	font-size: 16px;
}

.page-btn-wrap a.page-btn:hover{
	background-color: #efefef;
}

.page-btn-wrap .page-btn-cur{
	border: 1px solid #23b8ff;
    background-color: #23b8ff;
    color: #fff;
}

.page-btn-wrap .dir-btn{
	display: inline-block;
    width: 78px;
    height: 38px;
    border: 1px solid #dadada;
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	color: #666;
	font-size: 16px;
}

.page-btn-wrap .dir-btn.disabled{
	background-color: #dadada;
	border: 1px solid #dadada;
	color: #c9c9c9;
}

.page-btn-wrap .dir-btn .fa{
	font-size: 23px;
}

.page-btn-wrap .points{
	font-size: 16px;
	color: #666;
}

.page-btn-wrap .dir-btn.prev-btn{
	margin-right: 3px;
}

.page-btn-wrap .dir-btn.next-btn{
	margin-left: 3px;
}

.page-btn-wrap a.dir-btn:hover{
	background-color: #efefef;
}
















