.todo-wrap {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    box-shadow: 0 0 5px #999;
    border-radius: 10px;
    overflow: hidden;
}

.list-hd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 44px;
}

.list-hd .fa-plus {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
}

.input-wrap {
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ddd;
}

.input-bd {
    float: left;
    width: 410px;
    height: 100%;
    padding: 5px 5px 5px 10px;
}

.input-bd input {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}

.btn-bd {
    float: left;
    height: 100%;
    width: 90px;
    padding: 5px 10 5px 5px;
}

.btn-bd button {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
}

.list-wrap {
    margin-top: 44px;
    height: 456px;
    overflow: auto;
}

.list-wrap .item {
    position: relative;
    height: 50px;
}

.list-wrap .item:nth-child(odd) {
    background-color: #eee;
}

.list-wrap .item:hover {
    background-color: #eee;
}

.list-wrap .item-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    line-height: 50px;
    text-indent: 15px;
}

.btn-group {
    height: 100%;
    margin-left: 400px;
    line-height: 50px;
}

.btn-group a {
    margin-left: 15px;
}

.btn-group .edit-btn {
    color: green;
}

.btn-group .remove-btn {
    color: red;
}