.wd-list {}

.wd-item {}

.J_input {
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    border: 1px solid #ddd;
    outline: none;
}

.J_wdList {
    width: 300px;
    height: 100%;
    display: none;
    border: 1px solid #ddd;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #424242;
    font-weight: bold;
}