h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: aquamarine;
}

#mswChat {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}